# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub-cache/
.pub/
build/
coverage/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/ephemeral/

# IDE / Editor
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
*.swo

# Android secrets / build artifacts
android/app/google-services.json
android/key.properties
android/app/*.keystore
android/app/*.jks
**/keystore.properties
local.properties

# iOS secrets / build artifacts
ios/Pods/
ios/.symlinks/
ios/Runner/GoogleService-Info.plist
ios/Runner/Firebase/*.plist
ios/Runner.xcworkspace/
*.xcuserstate

# Firebase / FlutterFire
.firebase/
.firebaserc
firebase-debug.log
lib/firebase_options.dart

# Other
.DS_Store
